<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Список сайтов</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="./custom/popup/js/style.js">
</head>
<body>
	<ul class="sites__list">
		<script id="sitesList" type="text/x-handlebars-template">
		{{#each this}}
			<li class="sites__item">
				<a href="" class="sites__link">{{name}}</a>
			</li>
		{{/each}}
		</script>
	</ul>
	
	<script src="jquery.min.js"></script>
	<script src="handlebars.js"></script>
	<script src="popup.js"></script>
</body>
</html>

