@import "./defines.less";
@import "./helpers.less";

.message {	
    position: fixed;
    left: 50px;
    top: 50px;
    z-index: 1000;
    padding: 10px;
    background-color: @light-purple;
}

.message__txt {
	color: @indigo;
	font: @font;
}
